<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <% flash.each do |message_type, message| %>
    <%= message %>
  <% end %>
  <div>
    <% if signed_in? %>
      <p><%= link_to "(#{current_user.name}) Log out", logout_path, method: "delete" %></p>
      <% else %>
        <%= link_to "Sign In", login_path %>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer'  %>
  </div>
</body>
</html>
